.header {
  background-color: white;
  padding: 35px 20px;

  &.transparent {
    background-color: transparent;
  }
}

.greyBorder {
  box-shadow: -1px 4px 5px -1px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: -1px 4px 5px -1px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: -1px 4px 5px -1px rgba(0, 0, 0, 0.13);
}
