@import "../../../styles/colors.scss";

.discountTitle {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

  h3 {
    font-size: 1rem;
  }
}

.discountButtons {
  max-width: 300px;
  display: flex;
  gap: 10px;
}

@media screen and (min-width: 1024px) {
  .discountTitle {
    padding: 0;
  }

  .discountButtons {
    width: 400px;
  }
}
