@import "../../../styles/colors.scss";

.discountTitle {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

  h3 {
    font-size: 1rem;
  }
}

.discountButtons {
  max-width: 300px;
  display: flex;
  gap: 10px;
}

.discountReadMore {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  justify-content: center;

  a {
    color: blue;
    margin-left: 5px;
    text-decoration: underline;

    &:hover {
      color: map-get($colors, "lightBlue");
    }
  }
}

@media screen and (min-width: 1024px) {
  .discountTitle {
    padding: 0;
  }

  .discountButtons {
    width: 400px;
  }
}
