.card {
  background-color: white;
  box-shadow: -1px 1px 5px 2px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: -1px 1px 5px 2px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: -1px 1px 5px 2px rgba(0, 0, 0, 0.13);
  border-radius: 5px;
  padding: 30px;
  width: 100%;
  display: block;

  &.tiny {
    box-shadow: none;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
  }

  &.info {
    box-shadow: none;
    border-radius: 0;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &.sm {
    max-width: 300px;
  }

  &.md {
    max-width: 300px;
  }

  &.lg {
    max-width: 450px;
  }

  &.cardNoPadding {
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .card {
    padding: 30px 65px 65px 65px;

    &.sm {
      width: 300px;
      max-width: 300px;
    }

    &.md {
      width: 400px;
      max-width: 400px;
    }

    &.lg {
      padding-top: 35px;
      padding-bottom: 35px;
      max-width: 700px;
    }

    &.tiny {
      box-shadow: -1px 0px 10px -4px rgba(0, 0, 0, 0.35);
      -webkit-box-shadow: -1px 0px 10px -4px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: -1px 0px 10px -4px rgba(0, 0, 0, 0.35);
      border-radius: 5px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .card {
    &.sm {
      width: 300px;
      max-width: 300px;
    }

    &.md {
      width: 500px;
      max-width: 500px;
    }

    &.lg {
      width: 800px;
    }

    &.info {
      box-shadow: -1px 0px 10px -4px rgba(0, 0, 0, 0.35);
      -webkit-box-shadow: -1px 0px 10px -4px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: -1px 0px 10px -4px rgba(0, 0, 0, 0.35);
      border-radius: 5px;
    }

    &.tiny {
      max-width: 400px;
    }
  }
}
