.card {
  background-color: white;
  box-shadow: -1px 1px 5px 2px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: -1px 1px 5px 2px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: -1px 1px 5px 2px rgba(0, 0, 0, 0.13);
  border-radius: 5px;
  padding: 30px;
  width: 100%;
  display: block;

  &.sm {
    max-width: 300px;
  }

  &.md {
    max-width: 300px;
  }

  &.lg {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .card {
    padding: 30px 65px 65px 65px;

    &.sm {
      width: 300px;
      max-width: 300px;
    }

    &.md {
      width: 400px;
      max-width: 400px;
    }

    &.lg {
      padding-top: 35px;
      padding-bottom: 35px;
      max-width: 700px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .card {
    &.sm {
      width: 300px;
      max-width: 300px;
    }

    &.md {
      width: 500px;
      max-width: 500px;
    }

    &.lg {
      width: 800px;
    }
  }
}
