@import "../../styles/colors.scss";

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;

  label {
    margin-bottom: 5px;
  }
}

.labelContainer {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  font-weight: 600;

  label {
    display: block;
  }

  a {
    color: map-get($colors, "secondary-700");
    text-align: right;

    &:hover {
      color: map-get($colors, "primary-400");
    }
  }
}

.input {
  padding: 10px 7px 10px 40px;
  border-radius: 5px;
  border: 2px solid map-get($colors, "lighterGrey");
  width: 100%;
  background-position: left;
  background-position-x: 10px;
  background-repeat: no-repeat;
  background-size: 20px;
}

@media screen and (min-width: 1024px) {
  .labelContainer {
    font-size: 1rem;
  }
}
