@import "../../styles/colors.scss";

.inputContainer {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 10px;
  }
}

.labelContainer {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  font-weight: 600;

  label {
    display: block;
  }

  a {
    color: map-get($colors, "primary-light");
    text-align: right;

    &:hover {
      color: map-get($colors, "secondary-dark");
    }
  }
}

.input {
  padding: 7px;
  border-radius: 5px;
  border: 2px solid map-get($colors, "lighterGrey");
}

@media screen and (min-width: 1024px) {
  .labelContainer {
    font-size: 1rem;
  }
}
