@import "../../styles/colors.scss";

.dropdownItem {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: left;
  align-items: center;

  &:hover {
    background-color: map-get($colors, "lighterGrey");
    cursor: pointer;
  }
}

.separator {
  margin: 12px 0;
  padding: 0;
  height: 1.5px;
  background-color: map-get($colors, "lighterGrey");

  &:hover {
    background-color: map-get($colors, "lighterGrey");
    cursor: default;
  }
}

.dropdownIcon {
  padding-right: 5px;
  font-size: 1.25rem;
}
