@import "../../styles/colors.scss";

.checkBoxContainer {
  display: flex;
  justify-content: left;
  label {
    display: flex;

    gap: 10px;
    width: 100%;
  }

  &:hover {
    cursor: pointer;
  }
}

.inputContainer {
  width: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.checkBoxInput {
  width: 15px;
  height: 15px;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  background-color: white;
  border: 1px solid black;

  &:hover {
    cursor: pointer;
  }
}

.checkBoxInput:checked {
  background-color: map-get($colors, "primary");
  background-image: url("../../public/tic.svg");
  background-position: center center;
  background-size: contain;
}

.checkBoxExtraText {
  color: map-get($colors, "lightGrey");
  font-size: 0.9rem;
  margin-bottom: 0;

  &:hover {
    cursor: pointer;
  }
}

.checkBoxExtraTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0;

  span {
    font-weight: 500;
  }

  &:hover {
    cursor: pointer;
  }
}
