@import "../../styles/colors.scss";

.checkBoxContainer {
  label {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.checkBoxInput {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

.checkBoxInput {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  background-color: white;
  border: 1px solid black;
}

.checkBoxInput:checked {
  background-color: map-get($colors, "primary");
  background-image: url("../../public/tic.svg");
  background-position: center center;
  background-size: contain;
}
