@import "../../styles/colors.scss";

.button {
  padding: 15px;
  border: 2px solid;
  font-size: 1.05rem;
  border-radius: 5px;
  width: 100%;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;

  &:hover {
    cursor: pointer;
  }

  &.sm {
    font-size: 0.8rem;
  }

  &.md {
    font-size: 1rem;
  }

  &.lg {
    font-size: 1.1rem;
  }

  &.link {
    background-color: transparent;
    border: none;
    color: map-get($colors, "blue");
    padding: 0;
    text-decoration: underline;

    &:hover {
      color: map-get($colors, "lightBlue");
    }
  }

  &.white {
    width: auto;
    background-color: transparent;
    border: none;
    color: white;
    padding: 0;
    text-decoration: underline;

    &:hover {
      color: map-get($colors, "lighterGrey");
    }
  }

  &.grey {
    background-color: white;
    border-color: map-get($colors, "lighterGrey");

    &:hover {
      background-color: map-get($colors, "backgroundLighterGrey");
    }
  }

  &.primary {
    background-color: map-get($colors, "primary");
    color: white;
    border-color: map-get($colors, "primary");

    &:hover {
      background-color: white;
      color: map-get($colors, "primary");
    }
  }

  &.default {
    color: map-get($colors, "primary");
    border: none;
    background-color: white;

    &:hover {
      color: map-get($colors, "primary-dark");
    }
  }

  &.primary-white {
    background-color: white;
    color: map-get($colors, "primary");
    border-color: map-get($colors, "primary");

    &:hover {
      background-color: map-get($colors, "primary");
      color: white;
    }
  }

  &.secondary {
    background-color: map-get($colors, "secondary");
    color: white;
    border-color: map-get($colors, "secondary");

    &:hover {
      background-color: white;
      color: map-get($colors, "secondary");
    }
  }

  &.primary-400 {
    background-color: map-get($colors, "primary-400");
    color: black;
    border-color: black;

    &:hover {
      background-color: black;
      color: map-get($colors, "primary-400");
    }
  }

  &.primary-100 {
    background-color: map-get($colors, "primary-100");
    color: black;
    border-color: black;

    &:hover {
      background-color: black;
      color: map-get($colors, "primary-100");
    }
  }

  &.primary-900 {
    background-color: map-get($colors, "primary-900");
    color: white;
    border-color: map-get($colors, "primary-900");

    &:hover {
      background-color: white;
      color: map-get($colors, "primary-900");
    }
  }

  &.secondary-200 {
    color: black;
    background-color: map-get($colors, "secondary-200");
    border-color: black;

    &:hover {
      color: map-get($colors, "secondary-200");

      background-color: black;
    }
  }

  &.secondary-700 {
    background-color: map-get($colors, "secondary-700");
    color: white;
    border-color: map-get($colors, "secondary-700");

    &:hover {
      background-color: darken(
        $color: map-get($colors, "secondary-700"),
        $amount: 10
      );
      border-color: darken(
        $color: map-get($colors, "secondary-700"),
        $amount: 10
      );
    }
  }

  &:disabled {
    background-color: map-get($colors, "primary-100");
    border-color: map-get($colors, "primary-100");
    color: white;
    cursor: default;

    &:hover {
      background-color: map-get($colors, "primary-100");
      border-color: map-get($colors, "primary-100");
      color: white;
    }
  }
}
