@import "../../../styles/colors.scss";

.customersTitle {
  padding: 0 20px;
}

.readMore {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;

  a {
    color: blue;
    margin-left: 5px;
    text-decoration: underline;

    &:hover {
      color: map-get($colors, "lightBlue");
    }
  }
}

@media screen and (min-width: 1024px) {
  .customersTitle {
    padding: 0;
  }
}
