@import "../../../styles/colors.scss";

.productsTitle {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    max-width: 150px;
    height: 50px;
  }
}

.readMore {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;

  a {
    margin-left: 5px;
    color: blue;
    text-decoration: underline;

    &:hover {
      color: map-get($colors, "lightBlue");
    }
  }
}

@media screen and (min-width: 1024px) {
  .productsTitle {
    padding: 0;
  }
}
