@import "../../styles/colors.scss";

.reportContainer {
  margin: 5px 0;
}

.reportInfo {
  padding: 0 20px;

  h3 {
    font-size: 0.8rem;
    text-decoration: dotted;
    display: inline;
    border-bottom: dotted 2px map-get($colors, "mediumGrey");
  }

  span {
    margin-top: 10px;
    display: block;
    font-weight: 500;
  }
}

.reportLine {
  margin-top: 60px;
  border-top: 2px solid map-get($colors, "primary-400");
  text-align: right;
  padding: 10px 20px 0 0;

  a {
    font-size: 0.8rem;
    color: blue;

    &:hover {
      color: map-get($colors, "lightBlue");
    }
  }
}

.reportTitleContainer {
  position: relative;

  &:hover {
    cursor: default;

    .reportDescription {
      visibility: visible;
    }
  }

  .reportDescription {
    visibility: hidden;
    position: absolute;
    padding: 15px;
    border-radius: 5px;
    box-shadow: -1px 0px 10px -4px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: -1px 0px 10px -4px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: -1px 0px 10px -4px rgba(0, 0, 0, 0.35);
    font-size: 0.85rem;
    bottom: 20px;
    background-color: white;
    max-width: 300px;
  }
}

@media screen and (min-width: 768px) {
  .reportContainer {
    margin: 0;
  }
}
