@import "../../styles/colors.scss";

.itemOption {
  list-style: none;
  padding: 7px 0 7px 35px;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-left: 3px solid map-get($colors, "backgroundLighterGrey");
  color: map-get($colors, "grey");
  width: 100%;

  &:hover {
    cursor: pointer;
    background-color: map-get($colors, "lighterGrey");
  }

  &[aria-selected="true"] {
    background-color: map-get($colors, "backgroundLighterGrey");
    border-color: map-get($colors, "secondary");
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}
