@import "../../styles/colors.scss";

.storesPage {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: map-get($colors, "primary-900");

  .storeCardsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  h1 {
    font-size: 1.8rem;
    padding-bottom: 50px;
  }

  header {
    display: flex;
    justify-content: right;
    padding-top: 0;
  }
}
